#connectForm{
    width: 80vw;
    height: 60vh;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: row;
    background-color: gray;
}
#choixConnexion{
    display: flex;
    flex-direction: column;
}
#choixConnexion button{
    flex-grow: 1;
}

#connectGuest,#connectPlayer,#connectCreateAcc,#connectCreateRoom,#connectJoinRoom{
    width: 100%;
    height: auto;
    display: none;
}

#submitConnectAs,#submitCreateRoom,#submitJoinRoom{
    display: none;
}

#btnCreateRoom,#btnJoinRoom{
    display: none;
}


#idSalleConnectGuest{
    display: none;
}
#lancerJeu{
    display: none;
}

