@font-face{
    font-family: "MyFont";
    src: url("AldotheApache.ttf")
}


#connectForm{
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: linear-gradient(300deg,#28a922,#1c3492);
    background-size: 120% 120%;
    animation: gradient-animation 5s ease infinite;

    align-items: center ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

}
@keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }


#titre{
    text-align: center;
    font-family: MyFont;
    font-size: 150px;
    color: white;
    letter-spacing: 2px;
    
}
#connectPlayer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 12.5%;
    width: 75%;
    
}

button{
    border-radius: 20px ;
    width: 20vh;
    margin-top: 2%;
    padding: 2.3%;
    margin-top : 2%;
    border: none;
    justify-content: center;

}

#btnConnexion{
    margin-bottom: 10%;

}
#connectGuest{
    border: 1px solid black;
    justify-content: center;
    width: 20vw;
    display: flex;
    flex-direction: column;
}

#connectGuest input{
    width: auto;
    margin: 0 0 10px 0;
}

#connectAs{
    border: 1px solid black;
    justify-content: center;
}

button:hover{
    transition: 0.25s;
    background-color: #32866f;
    color: white;
    transform: scale(1.1);
}

input{
    border-radius:2px ;
    padding: 3%;
    border:none;
 
}
input[name=pseudo]{
    

}
#choixConnexion{
    padding: 5% 0 5% 0;
    width: 25vw;
}
#btnCreateRoom, #btnJoinRoom{
    margin: 5% auto;
}
#btnGuest,#btnCreationAcc{
    margin:0 2.5%
}










#connectGuest,#connectCreateAcc,#connectCreateRoom,#connectJoinRoom{
    height: auto;
    display: none;
}

#submitConnectAs,#submitCreateRoom,#submitJoinRoom{
    display: none;
}

#btnCreateRoom,#btnJoinRoom{
    display: none;
}


#idSalleConnectGuest{
    display: none;
}
#lancerJeu{
    display: none;
}

