html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
}
#maps{
  display: none;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 80%;
}

#mapAllie,#mapEnnemie {
  /* configure the size of the map */
  width: 45%;
  height: 80%;
  border: 1px solid #000;
}


#waitingRoom{
  width : 80vw;
  height : 40vh;
  background-color: red;
  display: none;
  flex-direction: column;
  justify-content: space-around;
}

#waitingRoomPlayer1 ,#waitingRoomPlayer2{
    display: flex;
    flex-direction: column;
    background-color: yellow;
    border: solid black 1px;
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
